[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
m2r = "==0.2.1"
twine = "==3.1.1"
mypy = "*"
pytest-metadata = "==1.8.0"

[packages]
testrail-api = "==1.4.6"
pytest = "==5.3.5"

[requires]
python_version = "3.8"
