[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
m2r = "==0.2.1"
twine = "==1.14.0"

[packages]
testrail-api = "==1.4.0"
pytest = "==5.1.2"
e1839a8 = {editable = true,path = "."}

[requires]
python_version = "3.7"
