[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
m2r = "==0.2.1"
twine = "==2.0.0"
mypy = "*"
pytest-metadata = "*"

[packages]
testrail-api = "==1.4.2"
pytest = "==5.2.0"
e1839a8 = {editable = true,path = "."}

[requires]
python_version = "3.7"
